title = "About"
url = "/about"
layout = "default"
is_hidden = 0
==
<!-- Banner -->
<header style="background-image: url('{{ '/header/about_header.png'|media }}');" id="page-banner">
    <div class="banner" style="height: 70vh;">
        <div class="container d-flex justify-content-center align-items-center flex-column"
            style="height: 100%; position: relative;">
            <section style="
            position: absolute;
            left: 0;
            bottom: 3rem;
            padding-right: 15px;
            padding-left: 15px;
            color: var(--white);

          " id="content-banner">
                <h1 class="title" id="page-title">{{'About LIN'|_}}</h1>
                <div class="d-flex" id="banner-donate-btn">
                </div>
            </section>
        </div>
    </div>
</header>
<!-- /Banner -->
<link rel="stylesheet" href="{{ 'assets/css/about.css'|theme }}" />
<div id="who-we-are">
    <div class="container h-100 d-flex justify-content-center flex-column align-items-start">
        <h1 class="title" style="color: var(--blue);">{{'Who we are'|_}}</h1>
        <span style="font-size: 18px;">{{"LIN Center for Community Development is a Vietnamese nonprofit
      organization founded in 2009 under the Vietnam Union of Science and
      Technology Association, to strengthen and connect local nonprofits
      organization (NPOs), skilled volunteers, and donors to engage in strategic
      and sustainable development in Vietnam."|_}}
        </span>
    </div>
</div>
<div id="vision-mission" style="background-image: url('{{ '/about/circlecenter.png'|media }}');">
    <div class="container h-100 d-flex justify-content-center flex-column align-items-center">
        <div class="d-flex justify-content-between flex-column align-items-center text-center vision-mission-content">
            <div id="vision">
                <h1 class="title" style="color: var(--blue);" id="textCircle">{{'Vision'|_}}</h1>
                <span class="" style="color: var(--white);">{{'We envision equal access to social and economic opportunities and
          improved quality of life for all (irrespective of age, race, gender,
          ethnicity, origin, etc.)'|_}}
                </span>
            </div>
            <div id="mission">
                <h1 class="title" style="color: var(--blue);" id="textCircle">{{'Mission'|_}}</h1>
                <span class="" style="color: var(--white);">{{'Help local NPOs, skilled volunteers and donors to fulfill their
          potential as vehicles for sustainable development, poverty alleviation
          and citizen participation in Vietnam.'|_}}
                </span>
            </div>
        </div>
    </div>
</div>
<div style="height: 10vh;"></div>
<div style="
    height: 40vh;
    background-image: url('{{ '/about/Layer949.png'|media }}');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  "></div>
<div id="about-list">
    <div class="container h-100 d-flex justify-content-center flex-column align-items-start">
        <ul class="row w-100 p-0" style="list-style: none;" id="liColumn">
            <li class="col-12 col-lg-6 d-flex align-items-center" id="liText">
                <img src="{{ '/about/semiCircleLeft.png'|media }}" alt="" class="mr-3" height="20px"
                    style="vertical-align: text-top !important;" />
                {{'All lives have equal value'|_}}
            </li>
            <li class="col-12 col-lg-6 d-flex align-items-center" id="liText" style="vertical-align: text- !important;">
                <img src="{{ '/about/semiCircleLeft.png'|media }}" alt="" class="mr-3" height="20px"
                    style="vertical-align: text-top !important;" />
                {{'LIN is a facilitator not a direct provider'|_}}
            </li>
            <li class="col-12 col-lg-6 d-flex align-items-center" id="liText" style="vertical-align: text- !important;">
                <img src="{{ '/about/semiCircleLeft.png'|media }}" alt="" class="mr-3" height="20px"
                    style="vertical-align: text-top !important;" />
                {{'All people deserve equal access to opportunities'|_}}
            </li>
            <li class="col-12 col-lg-6 d-flex align-items-center" id="liText" style="vertical-align: text- !important;">
                <img src="{{ '/about/semiCircleLeft.png'|media }}" alt="" class="mr-3" height="20px"
                    style="vertical-align: text-top !important;" />
                {{'LIN strives to empower local NPOs to achieve their goals'|_}}
            </li>
            <li class="col-12 col-lg-6 d-flex align-items-center" id="liText" style="vertical-align: text- !important;">
                <img src="{{ '/about/semiCircleLeft.png'|media }}" alt="" class="mr-3" height="20px"
                    style="vertical-align: text-top !important;" />
                {{'The community itself plays a role in building a peaceful community'|_}}
            </li>
            <li class="col-12 col-lg-6 d-flex align-items-center" id="liText" style="vertical-align: text- !important;">
                <img src="{{ '/about/semiCircleLeft.png'|media }}" alt="" class="mr-3" height="20px"
                    style="vertical-align: text-top !important;" />
                {{'Delivering results with the resources we have been given is of utmost importance'|_}}
            </li>
            <li class="col-12 col-lg-6 d-flex align-items-center" id="liText" style="vertical-align: text- !important;">
                <img src="{{ '/about/semiCircleLeft.png'|media }}" alt="" class="mr-3" height="20px"
                    style="vertical-align: text-top !important;" />
                {{'Those with the means must be responsible and interested in helping those without'|_}}
            </li>
            <li class="col-12 col-lg-6 d-flex align-items-center" id="liText" style="vertical-align: text- !important;">
                <img src="{{ '/about/semiCircleLeft.png'|media }}" alt="" class="mr-3" height="20px"
                    style="vertical-align: text-top !important;" />
                {{'LIN insists on equal treatment and ethical behavior among ourselves and with our partners'|_}}
            </li>
            <li class="col-12 col-lg-6 d-flex align-items-center" id="liText" style="vertical-align: text- !important;">
                <img src="{{ '/about/semiCircleLeft.png'|media }}" alt="" class="mr-3" height="20px"
                    style="vertical-align: text-top !important;" />
                {{'Encourages a more efficient philanthropic environment'|_}}
            </li>
            <li class="col-12 col-lg-6 d-flex align-items-center" id="liText" style="vertical-align: text- !important;">
                <img src="{{ '/about/semiCircleLeft.png'|media }}" alt="" class="mr-3" height="20px"
                    style="vertical-align: text-top !important;" />
                {{'LIN ensures transparency in communications and budgeting'|_}}
            </li>
            <li class="col-12 col-lg-6 d-flex align-items-center" id="liText" style="vertical-align: text- !important;">
                <img src="{{ '/about/semiCircleLeft.png'|media }}" alt="" class="mr-3" height="20px"
                    style="vertical-align: text-top !important;" />
                {{'Maintains trust and respect between partners and team members'|_}}
            </li>
            <li class="col-12 col-lg-6 d-flex align-items-center" id="liText">
                <img src="{{ '/about/semiCircleLeft.png'|media }}" alt="" class="mr-3" height="20px"
                    style="vertical-align: text-top !important;" />
                {{'LIN takes risks that others are unwilling or unable to take.'|_}}
            </li>


        </ul>
    </div>
</div>