title = "Information sharing"
url = "/information-sharing"
layout = "default"
is_hidden = 0
==
<header id="page-banner" style="background-image: url('{{ '/header/information_sharing_header.png'|media }}');">
    <div class="banner" style="height: 70vh;">
        <div class="container d-flex justify-content-center align-items-center flex-column"
            style="height: 100%; position: relative;">
            <section style="
            position: absolute;
            left: 0;
            bottom: 3rem;
            padding-right: 15px;
            padding-left: 15px;
            color: var(--white);

          " id="content-banner">
                <h1 class="title" id="page-title">{{'Information Sharing'|_}}</h1>
                <div class="d-flex" id="banner-donate-btn">
                </div>
            </section>
        </div>
    </div>
</header>
<link rel="stylesheet" href="{{ 'assets/css/information_sharing.css'|theme }}" />

<div class="container pt-5 pb-5" id="home-resources">
    <h2 class="title" style="font-weight: 400; max-width: 60%;">
        {{"By sharing information, we bring all sectors together to collaborate and support each"|_}}
    </h2>
</div>
<div id="home-resources">
    <div class="container-fluid d-flex justify-content-center" style="background-color: #f1f1f1;">
        <div class="container">
            <div class="d-flex justify-content-start pb-5" style="position: relative;">
                <div class="col-12 col-lg-6 content d-flex flex-column justify-content-end align-items-start"
                    id="heightDiv">
                    <div id="icon-top" class="d-flex justify-content-center divIconAnu"><img
                            src="{{ '/information_sharing/annualLogo.png'|media }}" width="70%" id="icon"></div>

                    <h1 style="color: #0055ac;width: 30%; "><b>{{'Annual Conference'|_}}</b></h1>
                    <span style="font-size: large; width: 70%">
                        {{"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus eu turpis eu placerat. Quisque vitae nulla auctor libero malesuada molestie vel quis mauris. Proin vel dolor diam. Donec vitae luctus nibh."|_}}
                    </span>

                </div>
            </div>
        </div>
        <div class="resources-imageRight"
            style="background-image: url('{{ '/information_sharing/layer1.png'|media }}');"></div>
    </div>
</div>
<div id="home-resources">
    <div class="container-fluid d-flex justify-content-center" style="background-color: #f1f1f1">
        <div id="resources-image" style="background-image: url('{{ '/information_sharing/layer2.png'|media }}');"></div>
        <div class="container">
            <div class="d-flex justify-content-end pb-5">
                <div class="col-12 col-lg-5 content d-flex flex-column justify-content-end align-items-start"
                    id="heightDiv">
                    <h1 style="color: #0055ac;width: 30%; "><b>{{'CSR Workshop'|_}}</b></h1>
                    <span style="font-size: large; width: 80%" id="contentCSR">
                        {{"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus eu turpis eu placerat. Quisque vitae nulla auctor libero malesuada molestie vel quis mauris. Proin vel dolor diam. Donec vitae luctus nibh."|_}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="home-resources">
    <div class="container-fluid d-flex justify-content-center" style="background-color: #f1f1f1;">
        <div class="container">
            <div class="d-flex justify-content-start pb-5">
                <div class="col-12 col-lg-6 content d-flex" id="heightDiv">
                    <div class="col-12 col-lg-9 p-0 d-flex flex-column justify-content-end" style="bottom: 0;left: 0">
                        <h1 style="width: 30%; color: #0055ac"><b>{{'NPO Networking'|_}}</b></h1>

                        <span
                            style="font-size: large;">{{'LIN\'s Annual Cross-Sector Conference is a unique platform to develop our understanding of sustainable community development and to strategically partner in solving social and enviromental issues, to create impact for a more resilient community in Vietnam.'|_}}</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="resources-imageRight"
            style="background-image: url('{{ '/information_sharing/layer3.png'|media }}');"></div>
    </div>
</div>
<div id="home-resources">
    <div class="container-fluid d-flex justify-content-center" style="background-color: #f1f1f1">
        <div id="resources-image" style="background-image: url('{{ '/information_sharing/layer4.png'|media }}');"></div>
        <div class="container">
            <div class="d-flex justify-content-end pb-5" style="position: relative;">
                <div id="icon-top" class="divIconCa"><img src="{{ '/information_sharing/npoMorningCafe.png'|media }}"
                        width="60%" style="float: right" id="icon"></div>

                <div class="col-12 col-lg-5 p-0 content d-flex flex-column justify-content-end align-items-start"
                    id="heightDiv">
                    <h1 style="color: #0055ac;width: 30%; "><b>{{'CSR Workshop'|_}}</b></h1>
                    <span style="font-size: large; width: 80%">
                        {{"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus eu turpis eu placerat. Quisque vitae nulla auctor libero malesuada molestie vel quis mauris. Proin vel dolor diam. Donec vitae luctus nibh."|_}}
                    </span>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="home-resources">
    <div class="container-fluid d-flex justify-content-center" style="background-color: #f1f1f1;">
        <div class="container">
            <div class="d-flex justify-content-start pb-4">
                <div class="col-12 col-lg-6 content d-flex" id="heightDiv">
                    <div class="col-12 col-lg-9 p-0 d-flex flex-column justify-content-end" style="bottom: 0;left: 0">
                        <h1 style="width: 70%; color: #0055ac"><b>{{'Online NPO Forum'|_}}</b></h1>

                        <span
                            style="font-size: large;">{{"LIN's Annual Cross-Sector Conference is a unique platform to develop our understanding of sustainable community development and to strategically partner in solving social and enviromental issues, to create impact for a more resilient community in Vietnam."|_}}</span>

                    </div>

                </div>
            </div>
        </div>
        <div class="resources-imageRight"
            style="background-image: url('{{ '/information_sharing/layer5.png'|media }}');"></div>
    </div>
</div>
<div class="container d-flex pt-5 pb-5 displayColumn" id="home-resources">
    <div class="col-3 d-flex align-items-center justify-content-start column1">
        <p style="color: var(--blue)"><b>{{"Resources"|_}}</b></p>
    </div>
    <div class="col-9 d-flex justify-content-between align-items-center column1">
        <div>
            <button id="btn-load-more" class="circular-btn" onclick="window.location='for-npos'" style="padding:0;">
                <span style="font-size: 22px;" id="spanButton">{{"For"|_}}<br>{{"NPOs"|_}}</span>
            </button>

        </div>
        <div>
            <button id="btn-load-more" class="circular-btn" onclick="window.location='for-volunteers'"
                style="padding:0;">
                <span style="font-size: 22px;" id="spanButton">{{"For"|_}}<br>{{"Volunteers"|_}}</span>
            </button>

        </div>
        <div>
            <button id="btn-load-more" class="circular-btn" onclick="window.location='for-donors'" style="padding:0;">
                <span style="font-size: 22px;" id="spanButton">{{"For"|_}}<br>{{"Donors"|_}}</span>
            </button>
        </div>
    </div>
</div>