==

<div id="PC-header" class="header">
    <a href="{{'home'| page}}"><img src="{{ '/global/logo.png'|media }}" alt="" id="logo-top"></a>
    <div id="menu" class="text-center w-100 d-flex justify-content-center">
        <ul class="d-flex p-0">
            <li class="menu-item">
                <a href="" class="menu-item-text">{{'About'|_}}</a>
                <ul class="sub-menu">
                    <li class="menu-item sub text-left m-0 pr-3 pl-2"><a href="{{'about'| page}}">{{'About'|_}}</a></li>
                    <li class="menu-item sub text-left m-0 pr-3 pl-2"><a href="{{'our_team'| page}}">{{'Our team'|_}}</a></li>
                    <li class="menu-item sub text-left m-0 pr-3 pl-2"><a href="{{'partners'| page}}">{{'Partners'|_}}</a></li>
                    <li class="menu-item sub text-left m-0 pr-3 pl-2"><a href="{{'impact_report'| page}}">{{'Impact & reports'|_}}</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="{{'what_we_do'| page}}" class="menu-item-text">{{'What we do'|_}}</a>
                <ul class="sub-menu">
                    <li class="menu-item sub text-left m-0 pr-3 pl-2"><a href="{{'information_sharing'| page}}">{{'Information Sharing'|_}}</a></li>
                    <li class="menu-item sub text-left m-0 pr-3 pl-2"><a href="{{'capacity_building'| page}}">{{'Capacity Building'|_}}</a></li>
                    <li class="menu-item sub text-left m-0 pr-3 pl-2"><a href="{{'resource_mobilization'| page}}">{{'Resource Mobilization'|_}}</a></li>
                </ul>
            </li>
            <li class="menu-item"><a href="{{'new_events'| page}}" class="menu-item-text">{{'News & Events'|_}}</a></li>
            <li class="menu-item">
                <a href="" class="menu-item-text">{{'Get involved'|_}}</a>
                <ul class="sub-menu">
                    <li class="menu-item sub text-left m-0 pr-3 pl-2"><a href="{{'for_npos'| page}}">{{'Become an NPO Partner'|_}}</a></li>
                    <li class="menu-item sub text-left m-0 pr-3 pl-2"><a href="{{'for_donors'| page}}">{{'Become a Donor'|_}}</a></li>
                    <li class="menu-item sub text-left m-0 pr-3 pl-2"><a href="{{'for_volunteers'| page}}">{{'Become a Volunteer'|_}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <ul class="d-flex justify-content-end">
        <li class="">
            <a
                href="{{'donate'| page}}"
                style="
                    text-decoration: none;
                    font-size: 25px;
                    max-height: 35px;
                    line-height: 1 !important;
                    white-space: nowrap;
                "
                class="font-weight-bold rectangle-btn p-1"
            >
                {{'DONATE'|_}}
            </a>
        </li>
        <li class="ml-2">
            <span
                class="text-center font-weight-bold text-shadow"
                style="
                    font-size: 25px;
                    cursor: pointer;
                    position: relative;
                "
                id="lang"
                onclick="changeLang()"
            >{{ 'VN'|_ }}
            </span>
        </li>
    </ul>
</div>
<div id="SP-header" class="header">
    <a
    href="{{'donate'| page}}"
    style="
        text-decoration: none;
        font-size: 20px;
        max-height: 25px;
        line-height: 1 !important;
        white-space: nowrap;
        position: absolute;
        top: 1rem;
        margin-top: 5px;
        right: 80px;
    "
    class="font-weight-bold rectangle-btn p-1"
    >
        {{'DONATE'|_}}
    </a>
    <div id="btn-menu" onclick="toggleMenu()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <a href="{{'home'| page}}"><img src="{{ '/global/logo.png'|media }}" alt="" id="logo-top"></a>
    <div id="menu-top">
            <ul class="p-0">
                <li class="item-menu-phone">
                    <a href="{{'home'| page}}">Home</a>
                </li>
                <li class="item-menu-phone dropbtn" id="about-item">
                    <a class="menu-item-phone mt-1">About</a>
                    <ul class="sub-menu-phone" id="about-sub">
                        <li class="menu-item-phone"><a href="{{'about'| page}}">{{'About'|_}}</a></li>
                        <li class="menu-item-phone"><a href="{{'our_team'| page}}">{{'Our team'|_}}</a></li>
                        <li class="menu-item-phone"><a href="{{'partners'| page}}">{{'Partners'|_}}</a></li>
                        <li class="menu-item-phone"><a href="{{'impact_report'| page}}">{{'Impact & reports'|_}}</a></li>
                    </ul>
                </li>
                <li class="item-menu-phone dropbtn" id="what-we-do-item">
                    <a class="menu-item-phone mt-1">What we do</a>
                    <ul class="sub-menu-phone" id="what-we-do-sub">
                        <li class="menu-item-phone"><a href="{{'information_sharing'| page}}">{{'Information Sharing'|_}}</a></li>
                        <li class="menu-item-phone"><a href="{{'capacity_building'| page}}">{{'Capacity Building'|_}}</a></li>
                        <li class="menu-item-phone"><a href="{{'resource_mobilization'| page}}">{{'Resource Mobilization'|_}}</a></li>
                    </ul>
                </li>
                <li class="item-menu-phone dropbtn">
                    <a class="menu-item-phone mt-1" href="{{'new_events'| page}}">News & Events</a>
                </li>
                <li class="item-menu-phone dropbtn" id="get-involved-item">
                    <a class="menu-item-phone mt-1">Get involved</a>
                    <ul class="sub-menu-phone" id="get-involved-sub">
                        <li class="menu-item-phone"><a href="{{'for_npos'| page}}">{{'Become an NPO Partner'|_}}</a></li>
                        <li class="menu-item-phone"><a href="{{'for_donors'| page}}">{{'Become a Donor'|_}}</a></li>
                        <li class="menu-item-phone"><a href="{{'for_volunteers'| page}}">{{'Become a Volunteer'|_}}</a></li>
                    </ul>
                </li>
                <li class="item-menu-phone pt-5">
                    <a
                        style="color: var(--green) !important; font-weight: 700;"
                        id="lang"
                        onclick="changeLang()">
                        VN
                    </a>
                </li>
            </ul>
    </div>
</div>


<script>
    function changeLangHome() {
        String.prototype.replaceAt = function (index, replacement) {
            return (
                this.substr(0, index) +
                replacement +
                this.substr(index + replacement.length)
            );
        };
        lang = window.location.pathname;
        if (lang.includes("/vn")) {
            location.replace(window.location.origin + "/vn");
        } else {
            if (lang.includes("/en")) {
                href = lang.replace("/en", "/vn");
                location.replace(window.location.origin);
            } else {
                location.replace(window.location.origin + "/vn");
            }
        }
    }
</script>
