#about-list {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
}
#who-we-are {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#who-we-are .container {
    padding-left: 15rem;
    padding-right: 15rem;
}
#vision-mission {
    height: 95vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 5rem;
}
.vision-mission-content {
    height: 60%;
    width: 35%;
}
.vision-mission-content div span{
    font-weight: 600;
}
span{
    font-size: 15px;
    line-height: 1rem;
}
#textCircle{
    font-size: 30px !important;
}

@media only screen and (max-width:1200px) and (min-width:915px){
    span{
        font-size: 15px;
        line-height: 1rem;
    }
    #textCircle{
        font-size: 25px !important;
    }
}
@media only screen and (max-width:914px) and (min-width:769px){
    .vision-mission-content {
        height: 60%;
        width: 50%;
    }
    span{
        font-size: 15px;
        line-height: 1rem;
    }
    #textCircle{
        font-size: 25px !important;
    }
}
@media only screen and (max-width: 768px) {
    #about-list {
        padding: 15px;
    }
    #about-list li {
        padding: 0;
    }
    #who-we-are .container {
        padding: 15px;
    }
    #who-we-are {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    #vision-mission {
        padding-top: 3rem;
        padding-bottom: 3rem;
        height: unset;
        background-color: var(--green);
        background-image: unset;
    }
    .vision-mission-content {
        width: 100%;
    }
}
@media only screen and (max-width:1100px) and (min-width:860px){
    #who-we-are .container {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}
@media only screen and (max-width:859px) and (min-width:769px){
    #who-we-are .container {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}
@media only screen and (max-width:991px) and (min-width:769px){
    #liColumn{
        display: flex;
        flex-direction: column;
        max-width: 100% !important;
    }
    
}
li#liText {
    font-size: 18px !important;
}